h2 {
  position: absolute;
  left: 0px;
  top: 51px;
  right: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: white;
  font-size: 1.8em;
  line-height: 36px;
  font-weight: 600;
  text-align: center;
}

a {
  color: white;
  font-style: normal;
  text-align: center;
  text-decoration: underline;
  text-transform: none;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.full-page {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url('../images/Frame_3-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  position: absolute;
  left: 0px;
  top: 25%;
  right: 0px;
  z-index: 1;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 18%;
  padding-left: 18%;
  font-family: 'Playfair Display', sans-serif;
  color: white;
  font-size: 5.5em;
  line-height: 1.2em;
  font-weight: 400;
  text-align: center;
}

.video {
  display: block;
}

@media (max-width: 991px) {
  .full-page {
    background-image: url('../images/BlankandBlankensmith_Dark_Small.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .heading {
    padding-right: 10%;
    padding-left: 10%;
    font-size: 3.7em;
  }
  .video {
    display: none;
  }
  .body {
    background-image: -webkit-linear-gradient(black, black);
    background-image: linear-gradient(black, black);
  }
}

@media (max-width: 767px) {}

@media (max-width: 479px) {}

